Repository FrogAi/FrogPilot, pull requests merged in 2024-05, with the labels that each got.

#134 Update HyundaiCanFD dash icons
  selfdrive/car/hyundai/hyundaicanfd.py
Labels: car, hyundai

#132 GM: Add 2023 Chevy Malibu No ACC
  selfdrive/car/gm/fingerprints.py
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/torque_data/override.toml
Labels: car

#141 Honda Clarity regen paddle support
  selfdrive/car/honda/interface.py
Labels: car, honda
